/* header gradient area */
.arrow-flex-container {
  display: flex;
  margin-top: 16px;
}
.arrows {
  height: 32px;
  width: 32px;
}
.profile {
  position: absolute;
  right: 32px;
}
.arrows {
  margin-left: 32px;
}

.greeting {
  margin: 45px 0 30px 32px;
  font-size: 32px;
}

.highlight-flex-containter {
  display: flex;
  flex-wrap: wrap;
}
